.navigation {
  background-color: #eee;
  border: 1px solid #ddd;  
  text-align: center;
  padding: 0.3em;
}

.navigation-indicator {
  display: inline-block;
  width: 5em;
  text-align: center;
}

.navigation-button-prev {
  width: 2em;
}

.navigation-button-next {
  width: 2em; 
}
