.navigation {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 0.3em;
}

.navigation-indicator {
  display: inline-block;
  width: 5em;
  text-align: center;
}

.navigation-button-prev {
  width: 2em;
}

.navigation-button-next {
  width: 2em;
}

.navigation-wrapper-left {
  display: inline-block;
  padding-right: 0.5em;
}

.navigation-wrapper-right {
  display: inline-block;
  text-align: left;
  padding-left: 0.5em;
}
